.image-web {
    margin-bottom: 15px; 
    width: 96%;
}

.image-mobile {
    max-width: 20%;
    margin: 20px
    
}
.m-bg-primary {
    background-color: #2B2167;
}

.m-spy p {
    padding-top: 10px;
    text-align: justify;
}

.m-spy img {
    margin-bottom: 3%; 
    width: 96%;
}

