.image-register{
    margin-bottom: 20px; 
    width: 40%;
}
.image-web {
    margin-bottom: 20px; 
    width: 96%;
}

.image-mobile {
    max-width: 20%;
    margin: 20px
    
}
.m-bg-primary {
    background-color: #2B2167;
}

.m-spy p {
    padding-top: 10px;
    text-align: justify;
}